<div class="row">
  <div class="col">
    <p>Fontawesome: 
      <i class="fa fa-spinner fa-spin"></i>
      <i class="fa fa-refresh fa-spin"></i>
      <i class="fa fa-cog fa-spin"></i>
    </p>
  </div>
</div>
