<div class="container my-5">
  <div class="row">
    <div class="col">
      <div data-controller="gallery">
        <input data-target="gallery.name" type="text">
     
        <button data-action="click->gallery#greet">
          Greet
        </button>
      
        <span data-target="gallery.output">
        </span>
      </div>
    </div>
  </div>
</div>
