
<div class="container">
  <div class="row mt-3">
    <div class="col">
      this page is visible only to logged in users

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus in hendrerit gravida rutrum. Dictum fusce ut placerat orci nulla pellentesque dignissim enim sit. Ut morbi tincidunt augue interdum velit euismod. Viverra mauris in aliquam sem fringilla ut morbi tincidunt. Tempor orci dapibus ultrices in iaculis nunc. Mauris ultrices eros in cursus turpis massa tincidunt dui ut. Ut faucibus pulvinar elementum integer enim. Adipiscing diam donec adipiscing tristique risus nec feugiat in. Lectus quam id leo in vitae turpis massa sed. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Sed sed risus pretium quam vulputate dignissim suspendisse in. Lorem sed risus ultricies tristique nulla aliquet enim tortor at. Egestas sed tempus urna et pharetra pharetra massa. Convallis aenean et tortor at risus. Metus dictum at tempor commodo ullamcorper.</p>

      <p>Quis lectus nulla at volutpat diam ut venenatis tellus. Scelerisque varius morbi enim nunc. Ut sem viverra aliquet eget sit amet tellus. Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Dolor sit amet consectetur adipiscing. Viverra nam libero justo laoreet. Elementum integer enim neque volutpat ac tincidunt. Massa sed elementum tempus egestas sed sed. Et pharetra pharetra massa massa ultricies mi quis hendrerit. Ullamcorper a lacus vestibulum sed arcu non odio euismod. Ut enim blandit volutpat maecenas. Nisi lacus sed viverra tellus in hac habitasse platea dictumst. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Elit ullamcorper dignissim cras tincidunt lobortis. Quis eleifend quam adipiscing vitae proin. Nisl pretium fusce id velit ut tortor pretium viverra.</p>

      <p><a href="/gallery/index">index</a></p>
    </div>
  </div>
</div>
