<div class="acme-languages container-xl mb-2">
  <div class="row">
    <div class="col">
      <span class="acme-languages__item">English (US)</span>
      <a class="acme-languages__item" href="/404">Español</a>
      <a class="acme-languages__item" href="/404">Français (France)</a>
      <a class="acme-languages__item" href="/404">中文(简体)</a>
      <a class="acme-languages__item" href="/404">العربية</a>
      <a class="acme-languages__item" href="/404">Português (Brasil)</a>
      <a class="acme-languages__item" href="/404">한국어</a>
      <a class="acme-languages__item" href="/404">Italiano</a>
      <a class="acme-languages__item" href="/404">Deutsch</a>
      <a class="acme-languages__item" href="/404">हिन्दी</a>
      <a class="acme-languages__item" href="/404">日本語</a>
      <button type="button" class="btn btn-outline-primary py-0">
        <i class="fa fa-plus"></i>
      </button>


      <hr>
    </div>

  </div>

</div>

