<div class="acme-links container-xl mb-3">
  <div class="row">
    <div class="col">
      <a class="acme-links__item" href="/404">Sign Up</a>
      <a class="acme-links__item" href="/404">Log In</a>
      <a class="acme-links__item" href="/404">Messenger</a>
      <a class="acme-links__item" href="/404">Fishbook Lite</a>
      <a class="acme-links__item" href="/404"> Watch </a>
      <a class="acme-links__item" href="/404">People</a>
      <a class="acme-links__item" href="/404">Pages</a>
      <a class="acme-links__item" href="/404">Page Categories</a>
      <a class="acme-links__item" href="/404">Places</a>
      <a class="acme-links__item" href="/404">Games</a>
      <a class="acme-links__item" href="/404">Locations</a>
      <a class="acme-links__item" href="/404">Marketplace</a>
      <a class="acme-links__item" href="/404">Fishbook Pay</a>
      <a class="acme-links__item" href="/404">Groups</a>
      <a class="acme-links__item" href="/404">Oculus</a>
      <a class="acme-links__item" href="/404">Portal</a>
      <a class="acme-links__item" href="/404">Instagram</a>
      <a class="acme-links__item" href="/404">Local</a>
      <a class="acme-links__item" href="/404">Fundraisers</a>
      <a class="acme-links__item" href="/404">Services</a>
      <a class="acme-links__item" href="/404">About</a>
      <a class="acme-links__item" href="/404">Create Ad</a>
      <a class="acme-links__item" href="/404">Create Page</a>
      <a class="acme-links__item" href="/404">Developers</a>
      <a class="acme-links__item" href="/404">Careers</a>
      <a class="acme-links__item" href="/404">Privacy</a>
      <a class="acme-links__item" href="/404">Cookies</a>
      <a class="acme-links__item" href="/404">
        Ad Choices
        <%= image_tag 'fishbook/sessions/ad-choices.png', class: 'acme-links__ad-choices' %>
      </a>
      <a class="acme-links__item" href="/404">Terms</a>
      <a class="acme-links__item" href="/404">Help</a>

    </div>
  </div>
</div>


