.acme-logo-and-login-form {
    color: $light-shades;
    background-color: $dark-accent;
}

.acme-logo-and-login-form__logo {
    font-size: $h1-font-size;
}

.acme-languages__item {
    @extend .mr-2;
}

.acme-links__item {
    @extend .mr-2;
}

.acme-links__ad-choices {
    width: 16px;
    height: 16px;
}


