inherit_from: .rubocop_todo.yml

AllCops:
  Exclude:
    - 'test/**/*'
    - 'db/**/*'
    - 'config/**/*'
    - 'config.ru'
    - 'bin/**/*'
    - 'Gemfile*'
    - 'Rakefile*'
    - 'app/controllers/examples_controller.rb'
    - 'app/channels/**/*'
    - 'app/jobs/application_job.rb'
    - 'app/controllers/application_controller.rb'
    - 'app/models/application_record.rb'
    - 'app/mailers/application_mailer.rb'
    - 'app/helpers/application_helper.rb'
