<% if flash[:notice] || flash[:alert] %>
<div class="position-fixed w-100 text-center">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><%= flash[:notice] %></strong>
    <% if flash[:alert] %>
    <strong><%= flash[:alert] %></strong>
    <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
<% end %>
