<nav id="partial-bookings-nav" class="navbar navbar-expand bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
  <div class="container-fluid">

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">

      <span id="aaa" class="znavbar-brand col-lg-3 me-0 d-none d-lg-inline" href="#">
	<div id="test1" class="text-nowrap overflow-scroll" style="max-width: 400px">Tap on a date to book ...</div>
      </span>

      <ul class="navbar-nav col-lg-6 justify-content-lg-center">

        <%= render '/bookings/previous' %>
        <%= render '/bookings/next' %>

        <li id="main-month-label" class="nav-item me-5 me-lg-5" style="min-width: 140px">
          <a class="nav-link" aria-disabled="true">
            <%= session[:bookings_index_month] %>
	  </a>
        </li>
      </ul>

      <div class="d-lg-flex col-lg-3 justify-content-lg-end">

        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="d-none d-lg-inline pe-none">MENU</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="https://www.google.com" data-reflex="click->Misc#exit_">Exit</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</nav>

