        <li class="nav-item">
          <button id="btn-next-month" class="btn border-0" type="submit" data-reflex="click->BookingsIndex#next">
            <i class="fa-solid fa-chevron-right fa-sm pe-none"></i>
          </button>
        </li>
