<li class="nav-item ms-5">
  <button id="btn-prev-month" class="btn border-0" type="submit" data-reflex="click->BookingsIndex#previous">
    <i class="fa-solid fa-chevron-left fa-sm pe-none"></i>
  </button>
</li>
