<h1>Pages#demos</h1>
<p>Find me in app/views/pages/demos.html.erb</p>

<hr>

<p>A bootstrap button  <a class="btn btn-lg btn-primary" href="/docs/4.4/components/navbar/" role="button">View navbar docs &raquo;</a></p>

<hr>

<p>Bootstrap Javascript version <script>document.write($.fn.tooltip.Constructor.VERSION)</script></p>


<hr>
Fontawesome solid <i class="fas fa-shopping-cart"></i><br>
Fontawesome regular <i class="far fa-heart"></i><br>
Fontawesome brands <i class="fab fa-font-awesome"></i><br>
Fontawesome stacked <span class="fa-stack fa-2x">
  <i class="fas fa-square fa-stack-2x"></i>
  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
</span><br>
animated
<div class="fa-3x">
  <i class="fas fa-spinner fa-spin"></i>
</div>

<hr>


Stimulus Js <div data-controller="hello">
  <h1 data-target="hello.output"></h1>
</div>

<hr>
